<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
</head>
<body>
    <center><h1> Online shopping for local market </h1></center>
    <h3><p> This is a web application created with the idea that, as online shopping websites grow larger local shops find
    it harder to compete in the market. But local shops has a huge advantage over online website in person experience,
    immediate purchase means no waiting for product to arrive. only sector it gets hampered is people need to visit to 
    shop to check the availability of the required product and roam over cities to find it. Hence This web application.
    counsumers can create account and search for the required product in local shops and later visit that specific shop 
    to buy it when time is available. also shop owner can sign up and login and maintain their shops database for counsumers 
    to see. it also brings the sense of competion among shop owners hence reducing the price of products indirectly.</p></h3>
    
    <h2>Database 1: shopping</h2> <br>

        <h2>Table 1 : cust_list</h2><br>

        <h2>id_cust cust_name cust_pass cust_add</h2><br>

        <h2>Table 2 : shop_list</h2><br>

        <h2>id_shop shop_name shop_pass shop_add</h2><br>

    <h2>Database 2: shops</h2><br>

        <h2>Table 1 : (shop name)
            .......
        </h2><br>

        <h2>id item_name item_price item_quantity</h2><br>

    <h3><a href="/home">home</a></h3><br>


</body>
</html>