<!doctype html>
<html lang="en">
  
  <head>
    <title>Hello</title>
  </head>
  <body>

    <center><h1>LOCAL SHOP STOP </h1> 
    <form action="/savelinkc" method="post">
      <div class="container">
        <h1>Sign Up for Consumers</h1>
        <br>
        <label for="cust_name"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="cust_name" required>
    
        <label for="cust_pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="cust_pass" required>
    
        <label for="cust_add"><b>Add</b></label>
        <input type="text" placeholder="Enter your Address" name="cust_add" required>
        <br><br>
        <button type="submit">Sign Up</button><br>
      </div>
    </form>

    <form action="/savelinklc" method="post">
      <div class="container">
        <h1>Log in for Consumers</h1>
        <br>
        <label for="cust_name"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="cust_name" required>
    
        <label for="cust_pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="cust_pass" required>
        <br><br>
        <button type="submit">Login</button><br>
      </div>
    </form>

    <form action="/savelinks" method="post">
      <div class="container">
        <br><br>
        <h1>Sign Up for Shops</h1>
        <br>
        <label for="shop_name"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="shop_name" required>
    
        <label for="shop_pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="shop_pass" required>
    
        <label for="shop_add"><b>Add</b></label>
        <input type="text" placeholder="Enter your Shop Address" name="shop_add" required>
        <br><br>
        <button type="submit">Sign Up</button><br>
      </div>
    </form>

    <form action="/savelinkls" method="post">
      <div class="container">
        <h1>Log in for Shops</h1>
        <br>
        <label for="shop_name"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="shop_name" required>
    
        <label for="shop_pass"><b>Password</b></label>
        <input type="shop_pass" placeholder="Enter Password" name="shop_pass" required>
        <br><br>
        <button type="submit">Login</button><br>
      </div>
    </form>
   <br>

    <a href="/about">About</a><br>
  </center>
  </body>
</html>